.payingHotel{
    background-color:rgb(132,136,139);
    height:20%;
    width:50%;
    margin:auto;
    margin-top:7%;
    margin-bottom:2%;
}
#payingHotelImg{
    height:500px;
     width:500px;
}
#payDetails{
    margin:2%;
    border-radius: 5px;
    border: 1px solid black;
    padding:1% 2%;
}